.has-error {
  border: 4px solid var(--color-red-300);
  border-radius: 8px;
  overflow: hidden;

  > .title {
    color: #fff;
    background-color: var(--color-red-300);
    padding: 4px 6px 8px;
    margin: 0 0 12px;
    line-height: 1;
    font-weight: 700;
  }
}
